<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        function delete_event() {
        
        var parentGroup = event.target.closest('.event');

        var ident = parentGroup.querySelector('#ident').textContent;



    // Create a new XMLHttpRequest object
    var xhr = new XMLHttpRequest();

    // Configure it with the HTTP method, URL, and asynchronous flag
    xhr.open('POST', 'https://mnazzy-alumni.onrender.com/delete_event', true);
    
    // Set the request header for JSON content
    xhr.setRequestHeader('Content-Type', 'application/json');

    // Set up the callback functions to handle the response
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
        if (xhr.status === 200) {
            // Success, handle the response
            //var data = JSON.parse(xhr.responseText);
            console.log('Okay');
            // Handle the response from the backend as needed
        } else {
            // Error, handle the error
            console.error('Error sending data to backend. Status:', xhr.status, xhr);
        }
        }

        
    };

    xhr.onerror = function() {
        console.error('Network error occurred');
    };


    // Send the request with the JSON payload
    xhr.send(JSON.stringify({ ident: ident }));
    }
    
    function delete_alumnus() {
        
        var parentGroup = event.target.closest('.alumni');

        var ident = parentGroup.querySelector('#ident').textContent;



    // Create a new XMLHttpRequest object
    var xhr = new XMLHttpRequest();

    // Configure it with the HTTP method, URL, and asynchronous flag
    xhr.open('POST', 'https://mnazzy-alumni.onrender.com/delete_alumnus', true);
    
    // Set the request header for JSON content
    xhr.setRequestHeader('Content-Type', 'application/json');

    // Set up the callback functions to handle the response
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
        if (xhr.status === 200) {
            // Success, handle the response
            //var data = JSON.parse(xhr.responseText);
            console.log('Okay');
            // Handle the response from the backend as needed
        } else {
            // Error, handle the error
            console.error('Error sending data to backend. Status:', xhr.status, xhr);
        }
        }

        
    };

    xhr.onerror = function() {
        console.error('Network error occurred');
    };


    // Send the request with the JSON payload
    xhr.send(JSON.stringify({ ident: ident }));
    }
    </script>
</head>

<body>
    <main class="flex-shrink-0">
    {{>nav}}
    <div class="container" id="visualisation" style="margin-top: 2rem;">
            
        <div class="row">
            <div class="col-md-6">
                <div class="card h-100" id="top_companies">
                    <h3>Users</h3>
                    {{#users}}
                    <div class="user">
                      <table class="table">
                        <p id= 'ident' name='ident' style="display: none;">{{_id}}</p>
                            <tbody>
                              <tr>
                                <p id="ident" style="display: none;">{{_id}}</p>
                                <td>Username: {{username}}</td>
                                <td>Role: {{role}}</td>
                                <td><button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" onclick="delete_user()">Delete</button></td>
                                <td>
                                  <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#{{_id}}">
                                    Update
                                  </button>
                                
                                <!-- The Modal -->
                                <div class="modal" id="{{_id}}">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                
                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h4 class="modal-title">Update User</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                      </div>
                                
                                      <!-- Modal body -->
                                      <div class="modal-body">
                                          <form action="/update_user" method="post">
                                            <input type="hidden"id="user_id" name="user_id" placeholder="User ID" value="{{_id}}" required>
                                              <input type="hidden"id="username" name="username" placeholder="Username" value="{{username}}" required>
                                              <p>Username: {{username}}</p>
                                              <select name="role" id="role" value="{{role}}" required>
                                                  <option value="" disabled>Select Program</option>
                                                  <option value="admin">Admin</option>
                                                  <option value="user">User</option>
                                              </select>
                                                 <button type="submit">Update Role</button>
                                          </form>
                                      </div>
                                
                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                      </div>
                                
                                    </div>
                                  </div>
                                </div>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/users}}
                    {{^users}}
                    <h4>Registered users appear here</h4>
                    {{/users}}
                        
                        <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#add_user">
                            Add user
                        </button>
                  
                      
                      <!-- The Modal -->
                      <div class="modal" id="add_user">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Add New user</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/register" method="post">
                                    <input type="text"id="alumni_id" name="alumni_id" placeholder="Alumni ID" required>
                                    <input type="text"id="username" name="username" placeholder="Username" required>
                                    <input type="password"id="password" name="password" placeholder="Password" required>
                                    <input type="password"id="cpassword" name="cpassword" placeholder="Confirm Password" required>
                                    <button type="submit">Add user</button>
                                </form>
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <h3>Alumni Records</h3>
                    {{#alumni}}
                    <div class="alumni">
                      <table class="table">
                        <p id= 'ident' name='ident' style="display: none;">{{_id}}</p>
                            <tbody>
                              <tr>
                                <p id="ident" style="display: none;">{{_id}}</p>
                                <td>{{_id}}</td>
                                <td>{{name}}</td>
                                <td>{{program}}</td>
                                <td>{{grad_year}}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td><button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" onclick="delete_alumnus()">Delete</button></td>
                                <td>   <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#{{_id}}">
                                  Update
                                </button>
                              
                              
                              <!-- The Modal -->
                              <div class="modal" id="{{_id}}">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                              
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Update Alumni Record</h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                              
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action="/update_alumnus" method="POST">
                                            <input type="hidden" id="id" name="id" placeholder="Alumnus ID" value="{{_id}}" required>
                                            <input type="text" id="name" name="name" placeholder="Alumnus Name"value="{{name}}" required>
                                            <select name="program" id="program" value="{{program}}" required>
                                                <option value="" disabled>Select Program</option>
                                                <option value="Computing">Computing</option>
                                                <option value="Business Management">Business Management</option>
                                                <option value="Social Science">Social Science</option>
                                            </select>
                                            <input type="number" id="grad_year" name="grad_year" min="1900" max="2099" step="1" placeholder="Grad Year" value="{{grad_year}}" required >
                                            <input type="reset" value="Reset">
                                            <input type="submit" value="Add Alumnus">
                                        </form>
                                    </div>
                              
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    </div>
                              
                                  </div>
                                </div>
                              </div></td>
                              </tr>
                            </tbody>
                        </table>
                    {{/alumni}}
                    {{^alumni}}
                    <h4>Alumni records will appear here</h4>
                    {{/alumni}}
                    <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#add_record">
                        Add Alumni Record
                      </button>
                    
                    
                    <!-- The Modal -->
                    <div class="modal" id="add_record">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Add new Alumni Record</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                              <form action="/add_alumnus" method="POST">
                                  <input type="text" id="id" name="id" placeholder="Alumnus ID" required>
                                  <input type="text" id="name" name="name" placeholder="Alumnus Name" required>
                                  <select name="program" id="program" required>
                                      <option value="" disabled>Select Program</option>
                                      <option value="Computing">Computing</option>
                                      <option value="Business Management">Business Management</option>
                                      <option value="Social Science">Social Science</option>
                                  </select>
                                  <input type="number" id="grad_year" name="grad_year" min="1900" max="2099" step="1" placeholder="Grad Year" required >
                                  <input type="reset" value="Reset">
                                  <input type="submit" value="Add Alumnus">
                              </form>
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2rem;">
            <div class="col-md-12">
                <div class="card h-100" id="top_companies">
                    <h3>Events</h3>
                    {{#events}}
                    <div class="event">
                      <table class="table">
                        <p id= 'ident' name='ident' style="display: none;">{{_id}}</p>
                            <tbody>
                              <tr>
                                <p id="ident" style="display: none;">{{_id}}</p>
                                <td>{{name}}</td>
                                <td>{{category}}</td>
                                <td>{{date}}</td>
                                <td>{{time}}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td><button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" onclick="delete_event()">Delete</button></td>
                                <td>
                                  <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#{{_id}}">
                                  Update
                                </button></button>
                                <!-- The Modal -->
                      <div class="modal" id="{{_id}}">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Update</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/update_event" method="POST">
                                    <input type="hidden" id="id" name="id" placeholder="Event ID" value="{{_id}}" required>
                                    <input type="text" id="name" name="name" placeholder="Event Name" value="{{name}}" required>
                                    <input type="text" id="organiser" name="organiser" placeholder="Organiser Name" value="{{organiser}}"required>
                                    <select name="category" id="category " value="{{category}}" required>
                                        <option value="" disabled>Select Category</option>
                                        <option value="Professional Development">Professional Development</option>
                                        <option value="Networking Event">Networking</option>
                                        <option value="Campus Event">Campus Event</option>
                                    </select>
                                    <input type="date" id="date" name="date" value={{date}} required>
                                    <input type="time" id="time" name="time" value={{time}} required>
                                    <input type="reset" value="Reset">
                                    <input type="submit" value="Update">
                                </form>
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                              </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/events}}
                    {{^events}}
                    <h4>Events you organise will appear here</h4>
                    {{/events}}
                    
                    <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#add_modal">
                        Add New Event
                      </button>
                    
                    <!-- The Modal -->
                    <div class="modal" id="add_modal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Update</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                              <form action="/add_event" method="POST">
                        
                                  <input type="text" id="name" name="name" placeholder="Event Name" required>
                                  <input type="text" id="organiser" name="organiser" placeholder="Organiser Name" required>
                                  <select name="category" id="category "  required>
                                      <option value="" disabled>Select Category</option>
                                      <option value="Professional Development">Professional Development</option>
                                      <option value="Networking Event">Networking</option>
                                      <option value="Campus Event">Campus Event</option>
                                  </select>
                                  <input type="date" id="date" name="date" required>
                                  <input type="time" id="time" name="time" required>
                                  <input type="reset" value="Reset">
                                  <input type="submit" value="Add new event">
                              </form>
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                </div>
                </div>
            
        </div>

    </div>
</main>
{{>footer}}
</body>
</html>
