<!DOCTYPE html>
<html lang="eng">
    <head>
    </head>
    <body>
        <h3>Alumni Records</h3>
        {{#alumni}}
        <div>
        <p>Name: {{name}}</p>
        <p>Programme: {{program}}</p>
        <p>Class of: {{grad_year}}</p>
        <hr>
        </div>
        {{/alumni}}
    </body>
</html>