<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        function unparticipate() {
        // Extract text content from the specified tag
            var parentGroup = event.target.closest('.event');

            var ident = parentGroup.querySelector('#ident').textContent;
            console.log(ident)
        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Configure it with the HTTP method, URL, and asynchronous flag
        xhr.open('POST', 'http://localhost:3000/unparticipate', true);
        
        // Set the request header for JSON content
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Set up the callback functions to handle the response
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                // Success, handle the response
                //var data = JSON.parse(xhr.responseText);
                console.log('Okay');
                // Handle the response from the backend as needed
            } else {
                // Error, h andle the error
                console.error('Error sending data to backend. Status:', xhr.status, xhr);
            }
            }

            
        };

        xhr.onerror = function() {
            console.error('Network error occurred');
        };


        // Send the request with the JSON payload
        xhr.send(JSON.stringify({ ident: ident }));
        }
        
        function participate() {
        
            var parentGroup = event.target.closest('.event');

            var ident = parentGroup.querySelector('#ident').textContent;

    

        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Configure it with the HTTP method, URL, and asynchronous flag
        xhr.open('POST', 'http://localhost:3000/add_participant', true);
        
        // Set the request header for JSON content
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Set up the callback functions to handle the response
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                // Success, handle the response
                //var data = JSON.parse(xhr.responseText);
                console.log('Okay');
                // Handle the response from the backend as needed
            } else {
                // Error, handle the error
                console.error('Error sending data to backend. Status:', xhr.status, xhr);
            }
            }

            
        };

        xhr.onerror = function() {
            console.error('Network error occurred');
        };


        // Send the request with the JSON payload
        xhr.send(JSON.stringify({ ident: ident }));
        }

        function delete_event() {
        
        var parentGroup = event.target.closest('.event');

        var ident = parentGroup.querySelector('#ident').textContent;



    // Create a new XMLHttpRequest object
    var xhr = new XMLHttpRequest();

    // Configure it with the HTTP method, URL, and asynchronous flag
    xhr.open('POST', 'http://localhost:3000/delete_event', true);
    
    // Set the request header for JSON content
    xhr.setRequestHeader('Content-Type', 'application/json');

    // Set up the callback functions to handle the response
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
        if (xhr.status === 200) {
            // Success, handle the response
            //var data = JSON.parse(xhr.responseText);
            console.log('Okay');
            // Handle the response from the backend as needed
        } else {
            // Error, handle the error
            console.error('Error sending data to backend. Status:', xhr.status, xhr);
        }
        }

        
    };

    xhr.onerror = function() {
        console.error('Network error occurred');
    };


    // Send the request with the JSON payload
    xhr.send(JSON.stringify({ ident: ident }));
    }
    </script>
</head>
<body>
    <main class="flex-shrink-0">
    {{>nav}}
    <div class="container" id="visualisation" style="margin-top: 2rem;">
            
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100" id="top_companies">
                    <h3>My Events</h3>
                    {{#my_events}}
                    <div class="event">
                    <p id="ident" style="display: none;">{{_id}}</p>
                    <p>Name: {{name}}</p>
                    <p>Category: {{category}}</p>
                    <p>Date: {{date}}</p>
                    <p>Time: {{time}}</p>
                    <button type="button" class="btn btn-primary" onclick="delete_event()">Delete</button>
                    
                        
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{_d}}">
                          Update
                        </button>
                      
                      <!-- The Modal -->
                      <div class="modal" id="{{_id}}">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Update</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/update_event" method="POST">
                                    <input type="hidden" id="id" name="id" placeholder="Event ID" value="{{_id}}" required>
                                    <input type="text" id="name" name="name" placeholder="Event Name" value="{{name}}" required>
                                    <input type="text" id="organiser" name="organiser" placeholder="Organiser Name" value="{{organiser}}"required>
                                    <select name="category" id="category " value="{{category}}" required>
                                        <option value="" disabled>Select Category</option>
                                        <option value="Professional Development">Professional Development</option>
                                        <option value="Networking Event">Networking</option>
                                        <option value="Campus Event">Campus Event</option>
                                    </select>
                                    <input type="date" id="date" name="date" value={{date}} required>
                                    <input type="time" id="time" name="time" value={{time}} required>
                                    <input type="reset" value="Reset">
                                    <input type="submit" value="Update">
                                </form>
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                      
                    <hr>
                    {{/my_events}}
                    {{^my_events}}
                    <h4>Events you organise will appear here</h4>
                    {{/my_events}}
                    
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_modal">
                        Add New Event
                      </button>
                    
                    <!-- The Modal -->
                    <div class="modal" id="add_modal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Update</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                              <form action="/add_event" method="POST">
                        
                                  <input type="text" id="name" name="name" placeholder="Event Name" required>
                                  <input type="text" id="organiser" name="organiser" placeholder="Organiser Name" required>
                                  <select name="category" id="category "  required>
                                      <option value="" disabled>Select Category</option>
                                      <option value="Professional Development">Professional Development</option>
                                      <option value="Networking Event">Networking</option>
                                      <option value="Campus Event">Campus Event</option>
                                  </select>
                                  <input type="date" id="date" name="date" required>
                                  <input type="time" id="time" name="time" required>
                                  <input type="reset" value="Reset">
                                  <input type="submit" value="Add new event">
                              </form>
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card h-100">
                    <h3>Events I Participate</h3>
                    {{#p_events}}
                    <div class="event">
                    <p id= 'ident' name='ident' style="display: none;">{{_id}}</p>
                    <p>Name: {{name}}</p>
                    <p>Category: {{category}}</p>
                    <p>Date: {{date}}</p>
                    <p>Time: {{time}}</p>


                    
                    <button onclick="unparticipate()">Unparticipate</button>    
                    <hr>
                    {{/p_events}}
                    {{^p_events}}
                    <h4>Events you participate in will appear here</h4>
                    {{/p_events}}

                </div>
            </div>
            </div>
        <div class="row" style="margin-top: 2rem;">
            <div class="col-md-12">
                <div class="card h-100">
                    <h3>Upcoming Events</h3>
                    {{#all_events}}
                    <div class="event">
                    <p id="ident" style="display: none;">{{_id}}</p>
                    <p>Name: {{name}}</p>
                    <p>Category: {{category}}</p>
                    <p>Date: {{date}}</p>
                    <p>Time: {{time}}</p>
                    <button onclick="participate()">Participate</button> 
                    <hr>
                    {{/all_events}}
                    {{^all_events}}
                    <h4>Upcomming events will appear here</h4>
                    {{/all_events}}
                    <button>View all</button>
                    <button>Add Event</button>
                    <button>Search</button>
                </div>
            </div>
        </div>

    </div>
</main>
{{>footer}}
</body>
</html>