<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}

    <script>
        function unparticipate() {
        // Extract text content from the specified tag
            var parentGroup = event.target.closest('.event');

            var ident = parentGroup.querySelector('#ident').textContent;
            console.log(ident)
        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Configure it with the HTTP method, URL, and asynchronous flag
        xhr.open('POST', 'https://mnazzy-alumni.onrender.com/unparticipate', true);
        
        // Set the request header for JSON content
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Set up the callback functions to handle the response
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                // Success, handle the response
                //var data = JSON.parse(xhr.responseText);
                console.log('Okay');
                // Handle the response from the backend as needed
            } else {
                // Error, h andle the error
                console.error('Error sending data to backend. Status:', xhr.status, xhr);
            }
            }

            
        };

        xhr.onerror = function() {
            console.error('Network error occurred');
        };


        // Send the request with the JSON payload
        xhr.send(JSON.stringify({ ident: ident }));
        }
        
        function participate() {
        
            var parentGroup = event.target.closest('.event');

            var ident = parentGroup.querySelector('#ident').textContent;

    

        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Configure it with the HTTP method, URL, and asynchronous flag
        xhr.open('POST', 'https://mnazzy-alumni.onrender.com/add_participant', true);
        
        // Set the request header for JSON content
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Set up the callback functions to handle the response
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                // Success, handle the response
                //var data = JSON.parse(xhr.responseText);
                console.log('Okay');
                // Handle the response from the backend as needed
            } else {
                // Error, handle the error
                console.error('Error sending data to backend. Status:', xhr.status, xhr);
            }
            }

            
        };

        xhr.onerror = function() {
            console.error('Network error occurred');
        };


        // Send the request with the JSON payload
        xhr.send(JSON.stringify({ ident: ident }));
        }

    function delete_event() {
        
        var parentGroup = event.target.closest('.event');

        var ident = parentGroup.querySelector('#ident').textContent;



        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

    // Configure it with the HTTP method, URL, and asynchronous flag
    xhr.open('POST', 'http://localhost:3000/delete_event', true);
    
    // Set the request header for JSON content
    xhr.setRequestHeader('Content-Type', 'application/json');

        // Set up the callback functions to handle the response
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                // Success, handle the response
                //var data = JSON.parse(xhr.responseText);
                console.log('Okay');
                // Handle the response from the backend as needed
            } else {
                // Error, handle the error
                console.error('Error sending data to backend. Status:', xhr.status, xhr);
            }
            }

            
        };

        xhr.onerror = function() {
            console.error('Network error occurred');
        };


        // Send the request with the JSON payload
        xhr.send(JSON.stringify({ ident: ident }));
    }
    </script>
</head>
<body>
    <main class="flex-shrink-0">
    {{>nav}}
    <div class="container" id="visualisation" style="margin-top: 2rem;">
            
        <div class="row">
            <div class="col-md-6">
                <div class="card h-100" id="top_companies">
                    <h3>My Events</h3>
                    <div class="event">
                        {{#my_events}}
                        <table class="table">
                            <tbody>
                              <tr>
                                <p id="ident" style="display: none;">{{_id}}</p>
                                <td>{{name}}</td>
                                <td>{{category}}</td>
                                <td>{{date}}</td>
                                <td>{{time}}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td><button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" onclick="delete_event()">Delete</button></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#{{_id}}">
                                        Update
                                      </button>
                                      <div class="modal" id="{{_id}}">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                      
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                              <h4 class="modal-title">Update Event</h4>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                      
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form action="/update_event" method="POST">
                                                    <input type="hidden" id="id" name="id" placeholder="Event ID" value="{{_id}}" required>
                                                    <input type="text" id="name" name="name" placeholder="Event Name" value="{{name}}" required>
                                                    <input type="text" id="organiser" name="organiser" placeholder="Organiser Name" value="{{organiser}}"required>
                                                    <select name="category" id="category " value="{{category}}" required>
                                                        <option value="" disabled>Select Category</option>
                                                        <option value="Professional Development">Professional Development</option>
                                                        <option value="Networking Event">Networking</option>
                                                        <option value="Campus Event">Campus Event</option>
                                                    </select>
                                                    <input type="date" id="date" name="date" value={{date}} required>
                                                    <input type="time" id="time" name="time" value={{time}} required>
                                                    <input type="reset" value="Reset">
                                                    <input type="submit" value="Update">
                                                </form>
                                            </div>
                                      
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            </div>
                                      
                                          </div>
                                        </div>
                                      </div>              
                                </td>
                              </tr>
                            </tbody>
                        </table>
                        {{/my_events}}
                    </div>
                    {{^my_events}}
                    <h4>Events you organise will appear here</h4>
                    {{/my_events}}
                    
                    <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#add_modal">
                        Add New Event
                      </button>
                    
                    <!-- The Modal -->
                    <div class="modal" id="add_modal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Add New Event</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                              <form action="/add_event" method="POST">
                        
                                  <input type="text" id="name" name="name" placeholder="Event Name" required>
                                  <input type="text" id="organiser" name="organiser" placeholder="Organiser Name" required>
                                  <select name="category" id="category "  required>
                                      <option value="" disabled>Select Category</option>
                                      <option value="Professional Development">Professional Development</option>
                                      <option value="Networking Event">Networking</option>
                                      <option value="Campus Event">Campus Event</option>
                                  </select>
                                  <input type="date" id="date" name="date" required>
                                  <input type="time" id="time" name="time" required>
                                  <input type="reset" value="Reset">
                                  <input type="submit" value="Add new event">
                              </form>
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <h3>Events I Participate</h3>
                    {{#p_events}}
                    <div class="event">
                    <table class="table">
                        <p id= 'ident' name='ident' style="display: none;">{{_id}}</p>
                            <tbody>
                              <tr>
                                <p id="ident" style="display: none;">{{_id}}</p>
                                <td>{{name}}</td>
                                <td>{{category}}</td>
                                <td>{{date}}</td>
                                <td>{{time}}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" onclick="unparticipate()">Unparticipate</button></td>
                              </tr>
                            </tbody>
                        </table>
                    {{/p_events}}
                    {{^p_events}}
                    <h4>Events you participate in will appear here</h4>
                    {{/p_events}}

                </div>
            </div>
            </div>
        <div class="row" style="margin-top: 2rem;">
            <div class="col-md-12">
                <div class="card h-100">
                    <h3>Upcoming Events</h3>
                    {{#all_events}}
                    <div class="event">
                        <table class="table">
                            <p id= 'ident' name='ident' style="display: none;">{{_id}}</p>
                                <tbody>
                                  <tr>
                                    <p id="ident" style="display: none;">{{_id}}</p>
                                    <td>{{name}}</td>
                                    <td>{{category}}</td>
                                    <td>{{date}}</td>
                                    <td>{{time}}</td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" onclick="participate()">Participate</button></td>
                                  </tr>
                                </tbody>
                            </table>
                    
                    {{/all_events}}
                    {{^all_events}}
                    <h4>Upcomming events will appear here</h4>
                    {{/all_events}}
                    <a href="/all_events">
                      <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">
                        View All Events
                      </button>
                    </a>
                    <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#search_modal">
                      Search Events
                    </button>

                    <div class="modal" id="search_modal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Search Events</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                            <form action="/view_event" method="post">
                              <input type="text" id="name" name="name" placeholder="Event Name"  required>
                              <button type="reset">Reset</button>
                              <button type="submit">Search</button>
                          </form>
                  
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                    
                    <button type="button" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#add_modal">
                        Add New Event
                      </button>
                      
                </div>
            </div>
        </div>

    </div>
</main>
{{>footer}}
</body>
</html>
