<!DOCTYPE html>
<html lang="eng">
    <head>
    </head>
    <body>
        <h3>Events</h3>
        {{#events}}
        <div>
        <p>Name: {{name}}</p>
        <p>Category: {{category}}</p>
        <p>Date: {{date}}</p>
        <p>Time: {{time}}</p>
        <hr>
        </div>
        {{/events}}
    </body>
</html>
